div(class="animate-fade" ng-show="wom.show" style="position:fixed;top:0;left:0;z-index:20;height:100%;width:100%;background-color:rgba(255,255,255,.95);overflow:auto;")
  div(style="position:relative;")
    div(ng-click="wom.show=null" style="position:absolute;top:0;right:0;margin-right:18px;margin-top:10px;border:1px solid #DDD;border-radius:50%;")
      div(style="cursor:pointer;font-size:170%;border-radius:50%;background-color:black;height:1em;width:1em;line-height:.91em;color:white;text-align:center;font-family:Arial;border:.15em solid white;")
        |x

  table(style="height:100%;" border="0" align="center" ng-style="{width:wom.size=='full'?'100%':null}")
    tr(ng-hide="wom.size=='full'")
      td(ng-click="wom.show=null")
    tr
      td(ng-transclude)
    tr(ng-hide="wom.size=='full'")
      td(ng-click="wom.show=null")