.animate-fade(ng-show="wom.show" style="position:fixed;top:0;left:0;z-index:20;height:100%;width:100%;background-color:rgba(255,255,255,.95);overflow:auto;")
  div(style="position:relative;")
    div(style="position:absolute;top:.2em;right:.2em;border:.15em solid #DDD;border-radius:50%;")
      div(ng-click="wom.show=null" style="cursor:pointer;border:.2em solid white;padding:.3em;border-radius:50%;background-color:black;color:white;text-align:center;font-family:Arial;")
        div(style="line-height:.5em;font-size:1em;height:.5em;width:.5em;")
          |x

  table(style="height:100%;" border="0" align="center" ng-style="{width:wom.size=='full'?'100%':null}")
    tr(ng-hide="wom.size=='full'")
      td(ng-click="wom.show=null")
    tr
      td(ng-transclude)
    tr(ng-hide="wom.size=='full'")
      td(ng-click="wom.show=null")